@media (prefers-color-scheme:dark) {
  body {
    color: #fff;
    background: #000;
  }

  hr {
    border: 1px solid #fff !important
  }

  a:link {
    color: #9cf;
  }

  a:visited {
    color: #c9f;
  }
}

body {
  margin: 1em auto;
  max-width: 40em;
  font-size: 1.3em;
  font-family: sans-serif;
  line-height: 1.5;
}

@media print {
  body {
    max-width: none;
  }
}

hr {
  border: 1px solid #000
}

h1,h2 {
  margin: 0;
  padding: 0
}

h1 {
  font-size: 250%
}

p {
  text-align: justify;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 40em
}

table {
  width: 100%
}

td {
  vertical-align: middle
}

.right {
  text-align: right
}

